# Eclipse files
*/.classpath
*/.project
*/.settings/*
*/.wtpmodules
# EGit seems to create these in every module
*/.gitignore

# Compiled files
*/target/*

# JGiven Reports
acceptance-tests/jgiven-reports

# Local environment settings
service-urls/src/main/resources/config/application.properties
