# Eclipse files
*/.classpath
*/.project
*/.settings/org.eclipse.jdt.core.prefs
*/.settings/org.eclipse.wst.common.component
*/.settings/org.eclipse.wst.common.project.facet.core.xml
*/.wtpmodules

# Compiled files
*/target/*

# JGiven Reports
acceptance-tests/jgiven-reports

# Local environment settings
frontend/src/main/resources/services.properties
