<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Cart</title>
  </head>
  
  <body>
    <h1>Cart</h1>
    
    <div th:if="${cart.isEmpty()}">
      <p>Your cart is empty.</p>
      <a href="catalog">Back to catalog</a>
    </div>
    <table th:if="${not cart.isEmpty()}">
      <tr>
        <th>Name</th>
        <th>Quantity</th>
      </tr>
      <tr th:each="cartItem : ${cart.items}">
        <td th:text="${cartItem.productName}">Pan with a handle</td>
        <td th:text="${cartItem.quantity}">3</td>
      </tr>
    </table>
  
    <a th:if="${user.loggedIn}" id="shipping-address-link" href="order-address">Enter shipping address</a>
    <a th:if="${not user.loggedIn}" id="login-link" href="login">Login to place order</a>
  </body>
</html>