<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  id="WebApp_ID" version="3.0">
  <display-name>hystrix-demo-frontend</display-name>

  <!-- Using Spring's DelegatingFilterProxy so we have a managed bean -->
  <filter>
    <filter-name>security-filter-proxy</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    <init-param>
      <param-name>targetBeanName</param-name>
      <param-value>securityFilterProxy</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>security-filter-proxy</filter-name>
    <servlet-name>spring-dispatcher</servlet-name>
  </filter-mapping>
  <!-- Initialize Hystrix context to enable request scoped caching -->
  <filter>
    <filter-name>hystrix-context-initializer</filter-name>
    <filter-class>achwie.hystrixdemo.HystrixContextInitializerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>hystrix-context-initializer</filter-name>
    <servlet-name>spring-dispatcher</servlet-name>
  </filter-mapping>

  <!-- Spring front controller -->
  <servlet>
    <servlet-name>spring-dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>spring-dispatcher</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <!-- Hystrix metrics stream -->
  <servlet>
    <description></description>
    <display-name>HystrixMetricsStreamServlet</display-name>
    <servlet-name>HystrixMetricsStreamServlet</servlet-name>
    <servlet-class>com.netflix.hystrix.contrib.metrics.eventstream.HystrixMetricsStreamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HystrixMetricsStreamServlet</servlet-name>
    <url-pattern>/hystrix.stream</url-pattern>
  </servlet-mapping>
</web-app>